<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configurationData>
    <devices>
        <device>
            <cpu>m8</cpu>
            <avrdevice>ATmega8</avrdevice>
            <mcu>atmega8</mcu>
        </device>
        <device>
            <cpu>m328p</cpu>
            <avrdevice>ATmega328P</avrdevice>
            <mcu>atmega328p</mcu>
        </device>
        <device>
            <cpu>m32u4</cpu>
            <avrdevice>ATmega32u4</avrdevice>
            <mcu>atmega32u4</mcu>
        </device>
        <device>
            <cpu>m2560</cpu>
            <avrdevice>ATmega2560</avrdevice>
            <mcu>atmega2560</mcu>
        </device>
    </devices>
    <templateExecuters>
        <mkdirs>
            <path>${WORKSPACE_DIR}</path>
        </mkdirs>
        <processTemplate>
            <templateName>atsln.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}.atsln</file>
        </processTemplate>
        <processTemplate>
            <templateName>program.ftlh</templateName>
            <file>${WORKSPACE_DIR}\program.cmd</file>
        </processTemplate>
        <processTemplate>
            <templateName>terminal.ftlh</templateName>
            <file>${WORKSPACE_DIR}\terminal.cmd</file>
        </processTemplate>
        <mkdirs>
            <path>${WORKSPACE_DIR}\${ASSEMBLY_NAME}</path>
        </mkdirs>
        <processTemplate>
            <templateName>cppproj.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\${ASSEMBLY_NAME}.cppproj</file>
        </processTemplate>
        <processTemplate>
            <templateName>Device.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\Device.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>io_config.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\io_config.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>saba.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\saba.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>saba.cpp.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\saba.cpp</file>
        </processTemplate>
        <processTemplate>
            <templateName>main.cpp.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\main.cpp</file>
        </processTemplate>
    </templateExecuters>
    <fields>
        <directory>
            <key>AVRDUDE_PATH</key>
            <label>AvrDude Path</label>
        </directory>
        <file>
            <key>AVRDUDE_CONFIG_FILE</key>
            <label>AvrDude Config file</label>
        </file>
        <list>
            <key>AVRDEVICE</key>
            <label>CPU</label>
            <items>
                <item>ATmega8</item>
                <item>ATmega328P</item>
                <item>ATmega32u4</item>
                <item>ATmega2560</item>
            </items>
        </list>
        <list>
            <key>PROGRAM_ALGO</key>
            <label>Programming algorithm</label>
            <items>
                <item>wiring</item>
                <item>arduino</item>
                <item>stk500</item>
                <item>AVR109</item>
            </items>
        </list>
        <integer>
            <key>COMPORT</key>
            <label>Com Port</label>
        </integer>
        <list>
            <key>BAUDRATE</key>
            <label>Baudrate</label>
            <items>
                <item>19200</item>
                <item>38400</item>
                <item>57600</item>
                <item>115200</item>
            </items>
        </list>
        <directory>
            <key>WORKSPACE_DIR</key>
            <label>Workspace Directory</label>
        </directory>
        <directory>
            <key>AVR_LIB_PATH_ABS</key>
            <label>Library Path</label>
        </directory>
        <string>
            <key>ASSEMBLY_NAME</key>
            <label>Assembly name:</label>
        </string>
        <integer>
            <key>F_CPU</key>
            <label>CPU Frequency</label>
        </integer>
    </fields>
</configurationData>
