<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configurationData>
	<devices>
		<device>
			<cpu>m8</cpu>
			<avrdevice>ATmega8</avrdevice>
			<mcu>atmega8</mcu>
		</device>
		<device>
			<cpu>m328p</cpu>
			<avrdevice>ATmega328P</avrdevice>
			<mcu>atmega328p</mcu>
		</device>
		<device>
			<cpu>m32u4</cpu>
			<avrdevice>ATmega32u4</avrdevice>
			<mcu>atmega32u4</mcu>
		</device>
		<device>
			<cpu>m2560</cpu>
			<avrdevice>ATmega2560</avrdevice>
			<mcu>atmega2560</mcu>
		</device>
	</devices>
	<programAlgorithms>
		<programAlgorithm>wiring</programAlgorithm>
		<programAlgorithm>arduino</programAlgorithm>
		<programAlgorithm>stk500</programAlgorithm>
		<programAlgorithm>AVR109</programAlgorithm>
	</programAlgorithms>
	<baudrates>
		<baudrate>19200</baudrate>
		<baudrate>38400</baudrate>
		<baudrate>57600</baudrate>
		<baudrate>115200</baudrate>
	</baudrates>
    <templateExecuters>
        <mkdirs>
            <path>${WORKSPACE_DIR}</path>
        </mkdirs>
        <processTemplate>
            <templateName>atsln.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}.atsln</file>
        </processTemplate>
        <processTemplate>
            <templateName>program.ftlh</templateName>
            <file>${WORKSPACE_DIR}\program.cmd</file>
        </processTemplate>
        <processTemplate>
            <templateName>terminal.ftlh</templateName>
            <file>${WORKSPACE_DIR}\terminal.cmd</file>
        </processTemplate>
        <mkdirs>
            <path>${WORKSPACE_DIR}\${ASSEMBLY_NAME}</path>
        </mkdirs>
        <processTemplate>
            <templateName>cppproj.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\${ASSEMBLY_NAME}.cppproj</file>
        </processTemplate>
        <processTemplate>
            <templateName>Device.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\Device.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>io_config.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\io_config.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>saba.h.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\saba.h</file>
        </processTemplate>
        <processTemplate>
            <templateName>saba.cpp.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\saba.cpp</file>
        </processTemplate>
        <processTemplate>
            <templateName>main.cpp.ftlh</templateName>
            <file>${WORKSPACE_DIR}\${ASSEMBLY_NAME}\main.cpp</file>
        </processTemplate>
	</templateExecuters>
</configurationData>
